:root {
    /* Colors */
    --font-family--primary: 'Nunito', sans-serif;
    --color-primary: #7477bf;
    --color-secondary: #4D4C72;
    --color-tertiary: #b2b2b2;
    --color-font: #6d6b6b;
    --white: #ffff;
    --black: #0b0b0b;
    --red: #DB1D1D;
    --green: #5ee38b;
    --kimberly: #6B6991;
    --seashell: #f1f1f1;
    --venus: #979596;
    --alto: #E0DEDE;
    --masala: #3f3939;
    --whisper: #eeeff7;
    --blue-bell: #9799cf;
    --nobel: #B9B7B7;
    --wild-blue: #8a8cc2;

    /* borde Radius */
    --br--round: 50%;

    /* Font Weights */
    --font-weight--thin: 100;
    --font-weight--light: 200;
    --font-weight--medium: 500;
    --font-weight--mediumb: 600;
    --font-weight--bold: 700;
    --font-weight--ultra-bold: 900;

    /* Font Size */
    --size-s: 1em;
}

/* Basic Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family--primary);
    color: var(--color-font);
    font-size: var(--size-s);
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* grid */
.grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "sidenav"
      "main"
      "daily"
      "mobile"
      "social"
      "members"
      "activity"
      "message"
      "settings";    
}

/*  style header */
.header {
    grid-area: header;
    background-color: var(--color-primary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    align-self: center;
    margin-right: 0;
    margin-left: 1.25em;
    font-size: 1.7em;
    width: 40%;
}

.header__logo span {
    font-weight: var(--font-weight--ultra-bold);
}

header p {
    align-self: center;
    margin-left: .3em;
    margin-right: .5em;
    font-size: .9em;
    cursor: pointer;
}

.header__bellIcon {
    display: flex;
    padding: 0 var(--size-s);
    border-right: .12em solid var(--kimberly);
    cursor: pointer;
}

.header__bellIcon--notify {
    display: flex;
    text-decoration: none;
}

.bell-icon {
    width: 2em;
    height: 2em;
    transform-origin: 50% 0;
	animation: none;
}

.circle {
    height: 1.25em;
    width: 1.25em;
    background-color: var(--green);
    border-radius: var(--br--round);
    margin: 0 0 0 -1.06em;
    z-index: 1;
    text-align: center;
    color: var(--white);
}

.bell-icon:hover {
    animation: shake 0.6s ease infinite;
}

@keyframes shake {
    50% {
      transform: rotate(-25deg); 
    }
    100% {
      transform: rotate(25deg); 
    }
}

.avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: var(--br--round);
    margin-left: .3em;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--seashell);
    min-width: 18.75em;
    margin-left: -10em;
    z-index: 1;
    box-shadow: inset 1px 1px 1px 0 var(--venus);
}

.dropdown-content a {
    color: var(--color-primary);
    padding: .75em var(--size-s);
    text-decoration: none;
    display: block;
    border-bottom: 1px solid var(--kimberly);
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-bottom: .18em solid var(--green);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* sidenav */
.sidenav {
    grid-area: sidenav;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
}

.sidenav__list {
    padding: 0;
}

.sidenav__list--item {
    display: inline-block;
    padding: .93em;  
}

.sidenav__list--item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: .12em solid var(--green);
    cursor: pointer;
}

.sidenav__icon {
    width: 1.56em;
    height: 1.56em;
    display: flex;
    margin: 0 var(--size-s);
}

/* search bar*/
.main {
    grid-area: main;
    border-bottom: 1px solid var(--color-tertiary);
    text-align: center;
}

.main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 242, 243);
}

.dashboard__title {
    font-size: 1.3em;
}

.main__card--search {
    width: 100%;
}

.main__card--input,
.message__form--input {
    height: 2.4rem;
    border-radius: 3px;
    margin: 1em 2em;
    padding: .75em;
    width: 85%;
}

.main__card--input {
    background-image: url('../images/search.png');
    background-size: 1.5em;
    background-position: right;
    background-repeat: no-repeat;    
}

/* alert box */
.main__alert {
    display: flex;
    justify-content:  center;
}

.main__alert--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--white);
    border-radius: .18em;
    margin: var(--size-s);
    padding-left: var(--size-s);
    width: 85%;
}

.closebtn {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--white);
    font-size: 2em;
    padding-right: .5em;
}

.closebtn:hover {
    color: var(--black);
}

/* chart 1: traffic */
.traffic {
    grid-area: traffic;
    padding: var(--size-s);
}

.traffic__card {
    padding-left: .5rem;
}

.dashboard__subtitles,
.dashboard__subtitles--chart {
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.1em;;
    font-weight: var(--font-weight--bold);
    margin-bottom: 0;
    padding-left: var(--size-s);
}

.traffic__nav--title {
    margin-top: var(--size-s);
}

.traffic__nav--title ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
    color: var(--masala);
}

.chart__container {
    height: auto;
    position: relative;
    width: 85vw;
    height: 40vh;
    padding: .5em;
    left: 7%;
}

.traffic__nav-item {
    padding: .62em;
    border-radius: .62em;
    align-items: center;
}

.traffic__nav-item:hover {
    background-color: var(--green);
    cursor: pointer;
}

.traffic__nav-item a {
    color: var(--color-primary);
}

/* chart 2: daily traffic */
.daily {
    grid-area: daily;
    padding: 1rem;
}

/* chart 3: mobile users */
.mobile {
    grid-area: mobile;
    padding: 1rem;
}

.chart__container--secondary {
    position: relative;
    width: 90vw;
    height: 50vw;
    margin-top: var(--size-s);
}

.chart__container--tertiary {
    position: relative;
    width: 80vw;
    height: 50vw;
    margin-top: var(--size-s);
    left: 5%;
}

/* social stats */
.social {
    grid-area: social;
    border-top: 1px solid var(--color-tertiary);
    border-bottom: 1px solid var(--color-tertiary);
    padding: 1rem;
}

.social__widget {
    display: flex;
    justify-content: space-around;
    background-color: var(--whisper);
    margin: 1rem;
    padding: .62em;
    border: 1px solid var(--blue-bell);
    border-radius: .31em;
}

.social__widget--icon {
    fill: var(--white);
    background-color: var(--color-primary);
    width: 3.7em;
    height: 3.7em;
    border-radius: var(--br--round);
}

.social__icon.tw,
.go {
    transform: scale(8);
    transform-origin: -40% 30%;
    transform-box: fill-box;
}

.social__icon.fb{
    transform: scale(.8);
    transform-origin: 30% 30%;
    transform-box: fill-box;
}

.social__widget--info {
    padding-top: .62em;
}

.social__widget--title {
    color: var(--color-primary);
    font-weight: var(--font-weight--mediumb);
    margin: 0;
    text-align: center;
}

.social__widget--num {
    color: rgb(155, 152, 152);
    font-weight: var(--font-weight--medium);
    font-size: 1.5em;
    text-align: right;
}

/* new members & recent activity */
.members {
    grid-area: members;
    padding: 1rem;
}

.activity {
    grid-area: activity;
    padding: 1rem;
}

.activity__card {
    margin-top: var(--size-s);
}

.member__card,
.activity__card {
    display: flex;
    justify-content: space-between;
    padding: .93em;
    align-items: center;
}

.member__card:not(:last-of-type),
.activity__card:not(:last-of-type) {
    border-bottom: 1px solid #cecece;
    margin-bottom: .62em;
}

.member__card--info, 
.activity__card--info {
    display: flex;
    align-items: center;
}

.member__card img,
.activity__card img {
    width: 2.5em;
    height: 2.5em;
    border-radius: var(--br--round);
    margin-right: .75em;
}

.member__card--name,
.activity__card--text {
    margin-top: .5em;
    margin: auto;
}

.member__card--name p {
    margin: 0;
    font-size: 95%;
}

.member__card--name a {
    color: var(--color-primary);
    font-size: .8em;
}

.member__card--date {
    font-size: .8em;
}

.activity__card--content {
    margin: 0;
}

.activity__card--text {
    font-size: 85%;
    margin:0;
}

.activity__card--time {
    color: var(--color-primary);
    font-size: 75%;
    margin-top: .5em;
}

.activity__card--arrow p {
    font-size: 170%;
    color: var(--color-primary);
    font-weight: var(--font-weight--bold);
    margin: 0 0 0 1.5em;
}

.activity__card--arrow:hover {
    cursor: pointer;
}

/* message user form */
.message {
    grid-area: message;
    border-top: 1px solid var(--color-tertiary);
    background-color: rgb(239, 242, 243);
    padding: 1rem;
}

.message__form--textarea {
    min-height: 10em;
    border-radius: 3px;
    margin: 1em 2em;
    padding: .75em;
    width: 85%;
    border: 1px solid var(--color-tertiary);
    box-shadow: inset 1px 1px 1px 0 var(--venus);
    cursor: pointer;
}

.message__form--input {
    cursor: pointer;
}

.message__form--input::placeholder,
.message__form--textarea::placeholder {
    font-style: italic;
    color: var(--color-tertiary);
    font-size: .8em;
}

.message__form--button,
.settings__container--saveBtn {
    display: block;
    width: 85%;
    margin: 1em 2em;
    background-color: var(--color-primary);
    padding: 1em;
    color: var(--white);
    font-weight: var(--font-weight--bold);
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
}

/* settings */
.settings {
    grid-row-start: settings;
    border-top: 1px solid var(--color-tertiary);
    background-color: rgb(239, 242, 243);
    padding: 1rem;
}

.settings__container {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.settings__container--label {
    display: block;
    margin: .75em;
}

.settings__container--switchBtn {
    display: block;
    margin: .75em;
}

/* start toogle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2em;
    margin-top: var(--size-s);
    margin-right: 2em;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--seashell);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid var(--nobel);
}
  
.slider::before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid var(--nobel);
}

.slider::after{
    content:"ON";
    font-size: .7em;
    color: var(--white);
    position: absolute;
    padding-top: .7em;
    padding-left: .5em;
    font-weight: var(--font-weight--bold);
}
  
input:checked + .slider {
    background-color: var(--color-primary);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}
  
input:checked + .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}
  
.slider.round {
    border-radius: 1.8em;
}
  
.slider.round::before {
    border-radius: var(--br--round);
}
/* end toogle switch */

/* Start Dropdown Timezone */
.settings__container--wrapper {
    width: 85%;
    position: relative;
}

.settings__container--wrapper::before {
    content: "ï¹€";
    font-size: 1.5em;
    position: absolute;
    right: -.5em;
    top: .8em;
    color: var(--wild-blue);
    pointer-events: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

select::-ms-expand {
    display: none;
}

select {
    height: 4em;
    width: 100%;
    padding-left: var(--size-s);
    color: var(--wild-blue);
    font-size: .8em;
    display: block;
    margin: 3em 2.5em;
    box-shadow: inset 1px 1px 4px 0 var(--venus);
    cursor: pointer;
}
/* End Dropdown Timezone */

/* Settings buttons */
.settings__container--cancelBtn {
    display: block;
    width: 85%;
    margin: 1em 2em;
    background-color: #b8b9c7;
    padding: 1em;
    color: var(--white);
    font-weight: var(--font-weight--bold);
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
}

.message__form--button:hover,
.settings__container--saveBtn:hover {
    border-bottom: 3px solid var(--green);
    color: var(--green);
    cursor: pointer
}

.settings__container--cancelBtn:hover {
    border-bottom: 3px solid var(--red);
    color: var(--red);
    cursor: pointer
}

/* border-right: 1px solid #b2b2b2; */

/*************** MEDIA QUERIES ****************/

/*************** Tablet ****************/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header     header"
        "sidenav    sidenav"
        "main       main"
        "daily      mobile"
        "social     social"
        "members    activity"
        "message    settings"
    }

    /*  header  */
    .header__logo{
        font-size: 1.8em;
        margin-right: auto;
    }

    .bell-icon {
        width: 3.1em;
        height: 2.1em;
        padding-right: .62em;
    }

    .circle {
        margin: 1px 0 0 -2.06em;
    }

    img.avatar {
        width: 2.5em;
        height: 2.5em;
    }

    header p {
        font-size: 1em;
        margin-right: 1.56em;
    }

    /*  sidenav  */
    .sidenav__list--item {
        padding: .93em 1.87em .93em 1.87em;
    }

    .sidenav__icon {
        width: 1.87em;
        height: 1.87em;
    }

    /*  Header searchbar alert  */
    .main__card {
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard__title {
        width: 50%;
        background-color: var(--white);
        border-right: 1px solid rgb(224, 222, 222);
    }

    .dashboard__title h2 {
        text-align: start;
        padding: .3em var(--size-s) 0 var(--size-s);
    }

    .dashboard__subtitles--chart {
        padding-left: .3em;
    }

    .dashboard__subtitles {
        padding-left: 0;
    }

    .main__card--search {
        width: 45%;
    }

    .main__alert {
        margin-top: var(--size-s);
    }

    .main__alert--card {
        width: 90%;
    }

    /*  Chart 1: traffic  */
    #dashboard__charts {
        padding: var(--size-s);
    }

    .traffic__nav--title ul {
        justify-content: flex-end;
        margin-right: 5.5em;
    }
    
    .chart__container {
        width: 85vw;
        height: 45vh;
        left: 7.5%;
    }

    /*  Chart 2 & 3  */
    .chart__container--secondary {
        width: 45vw;
        height: 35vw;
        top: 5%;
    }

    .chart__container--tertiary {
        width: 43vw;
        height: 37vw;
        top: 12%;
        right: 10%;
    }

    .daily {
        border-right: 1px solid var(--color-tertiary);
    }

    /*  Social Stats */
    .social__wrapper {
        display: flex;
        justify-content: center;
    }

    .social__widget {
        width: 50%;
        margin: 1.5em;
    }
   
    .social__widget--icon {
        width: 5em;
        height: 5em;
    }
 
    .social__widget--title {
        font-weight: var(--font-weight--bold);
    }

    .social__widget--num {
        font-size: 1.8em;
    }

     /*  New Members & recent activity */
    .members {
        border-right: 1px solid rgb(224, 222, 222);
    }

    .member__card:not(:last-of-type) {
        margin-bottom: .8em;
    }

    .member__card--name p {
        font-size: 95%;
    }

    .member__card--name a {
        font-size: .7em;
    }

    .member__card--date {
        font-size: .8em;
    }

    .activity__card {
        margin-top: 0;
    }

    .activity__card--text {
        font-size: 85%;
    }

    .activity__card--arrow p {
        font-size: 130%;
        margin: 0 0 0 2.5em;
    }

    .activity__card--time {
        margin: 0;
    }
    
    /* Message user  */
    .message {
        border-right: 1px solid rgb(224, 222, 222);
        background-color: var(--white);
    }

    .message__form--input,
    .message__form--textarea {
        background-color: #f5f5f5;
        transition: background-color 3s;
        outline: none
    }

    .message__form--input:focus,
    .message__form--textarea:focus {
        background-color: #e7daf7;
        border: 2px solid var(--color-primary);
    }

    /* Settings */
    .settings {
        background-color: var(--white);
    }

    select {
        color: var(--color-tertiary);
        margin: 2.6em 2.5em;
        box-shadow: inset 1px 1px 4px 0 rgb(146, 144, 145);
    }

    .settings__conatiner--btn {
        display: flex;
    }

    .settings__container--saveBtn,
    .settings__container--cancelBtn {
        margin: 1.2em .5em;
    }

    
}

/*************** DESKTOP ****************/
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: .10fr repeat(2, 1fr);
        grid-template-areas:
        "header     header      header"
        "sidenav    main        main"
        "sidenav    daily       mobile"
        "sidenav    social      social"
        "sidenav    members     activity"
        "sidenav    message     settings"
    }

    /*  header */
    .bell-icon {
        width: 3.75em;
        height: 2.5em;
    }

    header p {
        margin-right: 2.5em;
    }

    /*  sidenav */
    .sidenav__list--item {
        padding: 1.87em .62em 1.87em;
    }

    /*  Title & searchbar */
    .dashboard__title {
        width: 20%;
    }

    .main__card--search {
        width: 35%;
    }

    .main__card--input {
        width: 85%;
    }

    /*  alert box */
    .main__alert--card {
        width: 95%;
    }

    .main__alert--card p {
        padding-left: var(--size-s);
        font-size: 1.2em;
    }

    /*  Chart 1: traffic */

    .traffic__card {
        padding-left: 1rem;
    }

    .traffic__nav-item {
        padding: .62em 1.25em;
        font-size: 1.2em;
    }

    .traffic__nav--title ul {
        justify-content: flex-end;
        margin-right: 8em;
    }

    .dashboard__subtitles {
        font-size: 1.5em;
        padding-left: 0;
        margin-left: 0;
    }

    .chart__container {
        width: 80vw;
        height: 60vh;
        left: 7%;
    }

    /*  Chart 2 & 3: daily + mobile */
    .chart__container--secondary,
    .chart__container--tertiary {
        width: 35vw;
        height: 20vw;
        left: 10%;
    }

    .chart__container--tertiary {
        top: 0;
    }

    /*  Social stats */
    .social__widget {
        justify-content: flex-start;
        align-items: center;
        padding: 1.2em;
    }

    .social__widget--info {
        margin-left: 1.5em;
    }

    .social__widget--title {
        text-align: left;
        font-size: 1.5em;
        margin: 0;
    }

    .social__widget--num {
        font-size: 3em;
    }

    /* Members & activity */

    .member__card--name p,
    .activity__card--text {
        font-size: 105%;
    }

    .member__card--name a,
    .member__card--date {
        font-size: 1em;
    }

    .activity__card--content {
        margin-top: .5em;
    }

    .activity__card--time {
        font-size: 100%;
        margin-top: .3em;
    }

    .activity__card--arrow p {
        font-size: 170%;
    }

    /* Settings */
    .settings__container {
        width: 60%;
    }
}


